<%= error_messages_for :user %>

<% form_for(:user, @user, :url => {:controller=>'m/sessions', :action=>'create'}) do |f| %>
<div id="formElements">
      <div>
      <label for="user_login">Login:</label>
      <%= f.text_field :login %>
    </div>
    <div>
      <label for="user_password">Password:</label>
      <%= f.password_field :password %>
    </div>
    <div>
      <label for="user_stay_logged_in">Stay Logged In:</label>
      <%= check_box_tag :stay_logged_in, 1, false %>
    </div>    
    <%= f.submit "Go" %>
  </div>  
<% end %>

<%= link_to 'Create an Account', new_user_path %><br />
