<%content_for :head do%>
  <link type="text/css" href="/jquery/themes/base/ui.all.css" rel="stylesheet" />
  <link type="text/css" href="/jquery/jquery.tooltip.css" rel="stylesheet" />  
	<script type="text/javascript" src="/jquery/jquery-1.3.2.js"></script>
	<script type="text/javascript" src="/jquery/ui/ui.core.js"></script>

	<script type="text/javascript" src="/jquery/ui/ui.dialog.js"></script>
	<script type="text/javascript" src="/jquery/external/bgiframe/jquery.bgiframe.js"></script>
	<script type="text/javascript" src="/jquery/jquery.tooltip.js"></script>
	<%= javascript_include_tag "ls-api" %>	
	<script type="text/javascript">
		
	 $(document).ready(function() {

		$(function() {
		
			$("#searchcontrol").dialog({
				bgiframe: true,
				autoOpen: false,
				height: 500,
				width: 800,
				modal: true
			});

		});
		
		$('#imgSearchLink').click(function() {
			$('#searchcontrol').dialog('open');
		});

		$("#formLeftContainer *").tooltip();
		
		$('#btnImageSearch').click(function() {
			LiveSearch($('#txtImageSearch').val(), 25, 0, $('#adultFilter option:selected').text(), 'SearchCallback');
		});
	
		$('#txtImageSearch').keypress(function(e) {
			if(e.which == 13) {
				LiveSearch($('#txtImageSearch').val(), 25, 0, $('#adultFilter option:selected').text(), 'SearchCallback');
			}
		});
		
		$('#moreSearchOptionsLink').click(function() {
			$('#moreSearchOptions').toggle();
		});			  

	 });
	 
	 function SearchCallback(result)
	 {
	 	DisplayResults(result);
	 }
 
	function DisplayResults(response)
    {
        var results = response.SearchResponse.Image.Results;
        var offset = response.SearchResponse.Image.Offset + results.length;
        var prev_offset = response.SearchResponse.Image.Offset - results.length;
        if(prev_offset < 0)
        	prev_offset = 0;
        $('#output')
        	.html('')
        	.append("<h4 id='searchResultsHeader'>"
            + "<br />Image results for \""
            + response.SearchResponse.Query.SearchTerms
            + "\"<br />Displaying "
            + (response.SearchResponse.Image.Offset + 1)
            + " to "
            + (offset)
            + " of "
            + response.SearchResponse.Image.Total
            + " results<br />"
        		+ "</h4>")
      		.append("<table id='searchResultsTable'></table>");
        
        // Display the Image results.
        var cells = 3;
        var rows = results.length / 3;
        var resultsIndex = 0;
        for (var i = 0; i < rows; ++i)
        {
        	$("#searchResultsTable").append("<tr></tr>");
          for(var j = 0; j < cells && resultsIndex < results.length; ++j)
          {
	          $("#searchResultsTable tr:last").append("<td>"
	          	  + "<a href=\""
	              + results[resultsIndex].MediaUrl
	              + "\" target=\"_new\"><img src=\""
	              + results[resultsIndex].Thumbnail.Url
	              + "\"></a><br /><a href=\""
	              + results[resultsIndex].Url
	              + "\" target=\"_new\">"
	              + results[resultsIndex].Title
	              + "</a><br />Dimensions: "
	              + results[resultsIndex].Width
	              + "x"
	              + results[resultsIndex].Height
	              + "<br/><a href=\"#\" onclick=\"$('#me_image_url').val('" + results[resultsIndex].MediaUrl + "');$('#searchcontrol').dialog('close');\">Copy Url</a></td>");
	              resultsIndex++;
          	}
        }
        
        $('#output')
					.append("<h4 id='searchResultsFooter'></h4>")
					.append("<a href=\"javascript:LiveSearch('" + response.SearchResponse.Query.SearchTerms + "'," + results.length + "," + prev_offset + ",'" + $('#adultFilter option:selected').text() + "','SearchCallback');\">Prev</a>&nbsp;")
					.append("<a href=\"javascript:LiveSearch('" + response.SearchResponse.Query.SearchTerms + "'," + results.length + "," + offset + ",'" + $('#adultFilter option:selected').text() + "','SearchCallback');\">Next</a>");					
        
        //var resultsFooter = document.createElement("h4");
        //var nextLink = document.createElement("a");
        //output.appendChild(resultsFooter);      
    } 
    
   function clearMe()
   {
   		$('#formMainContainer input:text')
   			.not('#me_title')
   			.val('');
   		$('#formMainContainer textarea')
   			.val('');
   }    
		
	</script>
<%end%>

<div id="searchcontrol" title="Image Search" style="display:none">
	<div id="searchFormElements">
		<input id="txtImageSearch" name="txtImageSearch" type="text">
		<input type="button" value="Search" id="btnImageSearch"><a href="#" id="moreSearchOptionsLink">more options</a>
	</div>
	<div style="display:none;" id="moreSearchOptions">
	<label for="" >Adult Filter</label>
	<select id="adultFilter">
		<option value="Off">Off</option>
		<option value="Moderate" selected="true">Moderate</option>
		<option value="Strict">Strict</option>				
	</select>
	</div>	
	<div id="output"></div>
</div>


<p style="clear:both">
  <div class="edit_me_label"><label for="me_title">Title</label></div>
  <div class="edit_me_text"><%= text_field :me, :title, :class => 'text_field' %></div>
</p>
<p style="clear:both">
  <div class="edit_me_label"><label for="me_image_url">Image URL</label></div>
  <div class="edit_me_text"><%= text_field :me, :image_url, :class => 'text_field' %>&nbsp;<a href="#" id="imgSearchLink">Image Search</a></div>  
</p>
<p style="clear:both">
  <div class="edit_me_label"></div>
  <div class="edit_me_text"><%= select('section1', 'section_id', @sections.collect {|s| [s.name, s.id]}) %></div>
</p>
<p style="clear:both">
	<div class="edit_me_label"></div>
  <div class="edit_me_text"><%= text_field 'section1', 'value', :class => 'text_field' %></div>
  <%= hidden_field 'section1', 'section_type' %>
</p>
<p style="clear:both">
  <div class="edit_me_label"></div>
  <div class="edit_me_text"><%= select('section2', 'section_id', @sections.collect {|s| [s.name, s.id]}) %></div>
</p>  
<p style="clear:both">
	<div class="edit_me_label"></div>
  <div class="edit_me_text"><%= text_field 'section2', 'value', :class => 'text_field' %></div>
  <%= hidden_field 'section2', 'section_type' %>
</p>
<p style="clear:both">
  <div class="edit_me_label"></div>
  <div class="edit_me_text""><%= select('section3', 'section_id', @sections.collect {|s| [s.name, s.id]}) %></div>
</p>
<p style="clear:both">  
  <div class="edit_me_label"></div>
  <div class="edit_me_text"><%= text_field 'section3', 'value', :class => 'text_field' %></div>
  <%= hidden_field 'section3', 'section_type' %>
</p>
<p style="clear:both">
  <div class="edit_me_label"></div>
  <div><%= select('section4', 'section_id', @sections.collect {|s| [s.name, s.id]}) %></div>
</p>
<p style="clear:both">
  <div class="edit_me_label"></div>  
  <div class="edit_me_text"><%= text_field 'section4', 'value', :class => 'text_field' %></div>
  <%= hidden_field 'section4', 'section_type' %>
</p>
<p style="clear:both">
  <div class="edit_me_label"><label for="me_title">Soapbox</label></div>
  <div class="edit_me_text"><%= text_area 'section5', 'value', :class => 'text_field' %></div>
  <%= hidden_field 'section5', 'section_type' %>
</p>

