<div class="meTitle">
    <h1><%= h me.title %></h1>
    <%if !show_only %>
    <div class="options">
       <%= link_to_remote "-",
        :url=>{
            :action=>"is_collapsed", 
            :id=>id},
            :loading=>"show_hide('mebody_#{id}')" %>
        <%= link_to_function('X', '') %>
    </div>
    <% end %>
<div class="meSpacer"></div>
</div>
<div class="mebody" id="<%= "mebody_#{id}" %>">
<% if me.image_url != "" %>
    <a href="<%= me.image_url %>" target="_blank"><img alt="Image" src="<%= me.image_url %>" /></a>
<% end %>
<% if me.section1.value != "" %>
<p><i><%= h me.section1.section.name %>:</i>
<%= h me.section1.value %></p>        
<% end %>

<% if me.section2.value != "" %>
<p><i><%= h me.section2.section.name %>:</i>
<%= h me.section2.value %></p>        
<% end %>

<% if me.section3.value != "" %>
<p><i><%= h me.section3.section.name %>:</i>
<%= h me.section3.value %></p>        
<% end %>

<% if me.section4.value != "" %>
<p><i><%= h me.section4.section.name %>:</i>
<%= h me.section4.value %></p>        
<% end %>

<% if me.section5.value != "" %>
<p><i>Soapbox:</i>
<%= h me.section5.value %></p>        
<% end %>
<% if me.image_url != "" %><div class="meSpacer"></div><% end %>
</div>