<div class="meTitle">
    <h1><%= h me.title %></h1>
    <%if !show_only %>
    <div class="options">
       
    </div>
    <% end %>
<div class="meSpacer"></div>
</div>
<div class="mebody" id="<%= "mebody_#{id}" %>">
<% if me.image_url != "" %>
    <a href="<%= me.image_url %>" target="_blank"><img alt="Image" src="<%= me.image_url %>" /></a>
<% end %>
<% if me.section1.value != "" %>
<p><span class="title"><%= h me.section1.section.name %></span>
<%= h me.section1.value %></p>        
<% end %>

<% if me.section2.value != "" %>
<p><span class="title"><%= h me.section2.section.name %></span>
<%= h me.section2.value %></p>        
<% end %>

<% if me.section3.value != "" %>
<p><span class="title"><%= h me.section3.section.name %></span>
<%= h me.section3.value %></p>        
<% end %>

<% if me.section4.value != "" %>
<p><span class="title"><%= h me.section4.section.name %></span>
<%= h me.section4.value %></p>        
<% end %>

<% if me.section5.value != "" %>
<p><span class="title">Soapbox</span>
<%= h me.section5.value %></p>        
<% end %>
<% if me.image_url != "" %><div class="meSpacer"></div><% end %>
</div>