<div class="meTitle">
	<h1><%= h subscription.me.title %></h1>
	<%unless show_only%>
	<div class="options">
		<% meImg = "/images/max.png" if subscription.collapsed? %>
		<% meImg = "/images/min.png" unless subscription.collapsed? %>
		<a href="#" onclick="$.ajax({ type: 'POST', url: '/subscriptions/is_collapsed', data: 'id=<%=subscription.id%>', success: function(){ show_hide('mebody_<%=subscription.id%>'); } }); return false;"><img src="<%=meImg%>" id="imgmebody_<%=subscription.id%>" alt="Toggle ME" class="optionImage" /></a>
		<%= link_to "<img src='/images/destroy.png' alt='X' class='optionImage' />", subscription, :confirm => 'For real? You want to unsubscribe?', :method => :delete %>
	</div>
	<%end%>
	<div class="meSpacer"></div>
	</div>
	<div class="mebody" id="<%= "mebody_#{subscription.id}" %>" <% if subscription.collapsed? %>style="display:none;"<% end %>>
	<% if subscription.me.image_thumbnail != "" %>
			<a href="<%= subscription.me.image_url %>" target="_blank"><img alt="<%=subscription.me.title%> Me Image" src="<%= subscription.me.image_thumbnail %>" /></a>
	<% end %>

	<%= render :partial => 'me_sections/show', :locals => { :me_section => subscription.me.section1 } %>
	<%= render :partial => 'me_sections/show', :locals => { :me_section => subscription.me.section2 } %>				
	<%= render :partial => 'me_sections/show', :locals => { :me_section => subscription.me.section3 } %>
	<%= render :partial => 'me_sections/show', :locals => { :me_section => subscription.me.section4 } %>
	<%= render :partial => 'me_sections/show', :locals => { :me_section => subscription.me.section5 } %>												

	<% if subscription.me.image_url != "" %><div class="meSpacer"></div><% end %>

	<div style="color:#a6a6a6;text-align:right;margin-right:5px;margin-top:15px;font-size:smaller;"><%= distance_of_time_in_words(Time.now, subscription.me.updated_at) %> ago</div>
	<%unless show_only%>
	<div id="com_<%=subscription.id%>" style="margin:10px;">
		<% if subscription.me.enable_comments? %>
			    <%= render :partial => 'comments', :locals => { :subscription => subscription, :error_message => "" } %>
		<% end %>
	</div>
	<%end%>
</div>
