<h1>Editing me</h1>

<%= error_messages_for :me %>

<% form_for(@me) do |f| %>
  <p>
    <label for="reset_token">Reset Subscription Token:</label><%= check_box_tag('reset_token', 1, false) %>
  </p>

  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Image url</b><br />
    <%= f.text_field :image_url %>
  </p>
<p>
    <%= select('section1', 'section_id', @sections.collect {|s| [s.name, s.id]}, :select => @section1) %><br />
    <%= text_field 'section1', 'value' %>
    <%= hidden_field 'section1', 'section_type' %>
 </p>
<p>
    <%= select('section2', 'section_id', @sections.collect {|s| [s.name, s.id]}, :select => @section2) %><br />
    <%= text_field 'section2', 'value' %>
    <%= hidden_field 'section2', 'section_type' %>
 </p>
<p>
    <%= select('section3', 'section_id', @sections.collect {|s| [s.name, s.id]}, :select => @section3) %><br />
    <%= text_field 'section3', 'value' %>
    <%= hidden_field 'section3', 'section_type' %>
 </p>
<p>
    <%= select('section4', 'section_id', @sections.collect {|s| [s.name, s.id]}, :select => @section4) %><br />
    <%= text_field 'section4', 'value' %>
    <%= hidden_field 'section4', 'section_type' %>
 </p>
<p>
    Soapbox:<br />
    <%= text_area 'section5', 'value' %>
    <%= hidden_field 'section5', 'section_type' %>
 </p>
<p><%= f.submit "Update" %></p>
<% end %>
<p>
<%= link_to 'Show', @me %> |
<%= link_to 'Back', mes_path %>
</p>