<h1>Editing me</h1>

<%= error_messages_for :me %>

<% form_for(@me) do %>
  <p>
    <label for="reset_token">Reset Subscription Token:</label><%= check_box_tag('reset_token', 1, false) %>
  </p>
  <%= render :partial => 'form' %>
<p><%= submit_tag "Update" %>
<input type="button" name="clear_me" value="Clear" onclick="if(confirm('Are you sure?')){ clearMe(); }" />
</p>
<% end %>
<p>
<%= link_to 'Invite', :controller => :invites, :action => :new, :id => @me %> |
<%= link_to 'Delete', @me, :confirm => 'Are you sure?', :method => :delete %>
</p>
<script type="text/javascript">
   function clearMe()
   {
      $('me_image_url').clear();
      $('section1_value').clear();
      $('section2_value').clear();
      $('section3_value').clear();
      $('section4_value').clear();
      $('section5_value').clear();
   }
</script>
