<h1>Editing me</h1>

<%= error_messages_for :me %>

<% form_for(@me) do %>
  <p>
    <label for="reset_token">Reset Subscription Token:</label><%= check_box_tag('reset_token', 1, false) %>
  </p>
  <%= render :partial => 'form' %>
<p><%= submit_tag "Update" %></p>
<% end %>
<p>
<%= link_to 'Show', @me %> |
<%= link_to 'Back', mes_path %>
</p>