<h1>Editing me</h1>

<%= error_messages_for :me %>

<% form_for(@me) do %>
  <p>
    <label for="reset_token">Reset Subscription Token:</label><%= check_box_tag('reset_token', 1, false) %>
  </p>
  <%= render :partial => 'form' %>
<p><%= submit_tag "Update" %></p>
<% end %>
<p>
<%= link_to 'Invite', :controller => :invites, :action => :new, :id => @me %> |
<%= link_to 'Delete', @me, :confirm => 'Are you sure?', :method => :delete %>
</p>