<h1>Editing me</h1>

<%= error_messages_for :me %>

<% form_for(@me) do |f| %>
  <p>
    Subscription Token:
    <a href="#">Reset</a>
  </p>

  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Image url</b><br />
    <%= f.text_field :image_url %>
  </p>
  <p>
    <%= collection_select(:id, :name, @sections, :id, :name) %><br />
    <%= f.me_section.value :title %>
 </p>
<% end %>
<p>
<%= link_to 'Show', @me %> |
<%= link_to 'Back', mes_path %>
</p>