<h1>New me</h1>

<%= error_messages_for :me %>

<% form_for(@me) do %>
<%= render :partial => 'form' %>
<p><%= submit_tag "Create" %></p>
<% end %>
<p>
<%= link_to 'Show', @me %> |
<%= link_to 'Back', mes_path %>
</p>

