<!-- start left box-->
<div id="leftcontent">
<% for subscription in @subscriptions_col1 %>
    <% for i in 0..subscription.pos_y %>
        <% if i == subscription.pos_y %>
            <div class="me" id="<%= "leftcontent_#{subscription.id}" %>" >
                <div class="meTitle">
                    <h1><%= subscription.me.title %></h1>
                    <div class="options">
                       <%= link_to_remote "-",
                        :url=>{
                            :action=>"is_collapsed", 
                            :id=>subscription.id},
                            :loading=>"show_hide('mebody_#{subscription.id}')" %>
                        <%= link_to_function('X', '') %>
                    </div>
                <div class="meSpacer"></div>
                </div>
                <div class="mebody" id="<%= "mebody_#{subscription.id}" %>" <% if subscription.collapsed? %>style="display:none;"<% end %>>
                <% if subscription.me.image_url != "" %>
                    <a href="<%= subscription.me.image_url %>" target="_blank"><img alt="Image" src="<%= subscription.me.image_url %>" /></a>
                <% end %>
                <% if subscription.me.section1.value != "" %>
                <p><i><%= subscription.me.section1.section.name %>:</i>
                <%= subscription.me.section1.value %></p>        
                <% end %>
                
                <% if subscription.me.section2.value != "" %>
                <p><i><%= subscription.me.section2.section.name %>:</i>
                <%= subscription.me.section2.value %></p>        
                <% end %>
                
                <% if subscription.me.section3.value != "" %>
                <p><i><%= subscription.me.section3.section.name %>:</i>
                <%= subscription.me.section3.value %></p>        
                <% end %>
                
               <% if subscription.me.section4.value != "" %>
                <p><i><%= subscription.me.section4.section.name %>:</i>
                <%= subscription.me.section4.value %></p>        
                <% end %>
                
                <% if subscription.me.section5.value != "" %>
                <p><i>Soapbox:</i>
                <%= subscription.me.section5.value %></p>        
                <% end %>
                <% if subscription.me.image_url != "" %><div class="meSpacer"></div><% end %>
                </div>
            </div>
        <% end %>
    <% end %>
<% end %>
</div>
<!-- end left box-->

<!-- start content -->
<div id="centercontent">
<% for subscription in @subscriptions_col2 %>
    <% for i in 0..subscription.pos_y %>
        <% if i == subscription.pos_y %>
            <div class="me" id="<%= "centercontent_#{subscription.id}" %>" >
                <div class="meTitle">
                    <h1><%= subscription.me.title %></h1>
                    <div class="options">
                        <%= link_to_remote "-",
                        :url=>{
                            :action=>"is_collapsed", 
                            :id=>subscription.id},
                            :loading=>"show_hide('mebody_#{subscription.id}')" %>
                        <%= link_to_remote "X",
                            :url=>{:controller=>"subscription",
                                :action=>"destroy", :id=>subscription.id,
                                :method=>"delete"},
                            :update=>"wholecontent"
                        %>
                    </div>
                <div class="meSpacer"></div>
                </div>
                <div class="mebody" id="<%= "mebody_#{subscription.id}" %>" <% if subscription.collapsed? %>style="display:none;"<% end %>>
                <% if subscription.me.image_url != "" %>
                    <a href="<%= subscription.me.image_url %>" target="_blank"><img alt="Image" src="<%= subscription.me.image_url %>" /></a>
                <% end %>
                <% if subscription.me.section1.value != "" %>
                <p><i><%= subscription.me.section1.section.name %>:</i>
                <%= subscription.me.section1.value %></p>        
                <% end %>
                
                <% if subscription.me.section2.value != "" %>
                <p><i><%= subscription.me.section2.section.name %>:</i>
                <%= subscription.me.section2.value %></p>        
                <% end %>
                
                <% if subscription.me.section3.value != "" %>
                <p><i><%= subscription.me.section3.section.name %>:</i>
                <%= subscription.me.section3.value %></p>        
                <% end %>
                
               <% if subscription.me.section4.value != "" %>
                <p><i><%= subscription.me.section4.section.name %>:</i>
                <%= subscription.me.section4.value %></p>        
                <% end %>
                
                <% if subscription.me.section5.value != "" %>
                <p><i>Soapbox:</i>
                <%= subscription.me.section5.value %></p>        
                <% end %>
                <% if subscription.me.image_url != "" %><div class="meSpacer"></div><% end %>
                </div>
            </div> 
        <% end %>
    <% end %>
<% end %>
</div>
<!-- end content -->

<!-- start right box -->
<div id="rightcontent">
<% for subscription in @subscriptions_col3 %>
    <% for i in 0..subscription.pos_y %>
        <% if i == subscription.pos_y %>
            <div class="me" id="<%= "rightcontent_#{subscription.id}" %>">
                <div class="meTitle">
                    <h1><%= subscription.me.title %></h1>
                    <div class="options">
                        <%= link_to_remote "-",
                            :url=>{
                                :action=>"is_collapsed", 
                                :id=>subscription.id},
                                :loading=>"show_hide('mebody_#{subscription.id}')" %>
                        <%= link_to_function('X', '') %>
                    </div>
                <div class="meSpacer"></div>
                </div>
                <div class="mebody" id="<%= "mebody_#{subscription.id}" %>" <% if subscription.collapsed? %>style="display:none;"<% end %>>
                <% if subscription.me.image_url != "" %>
                    <a href="<%= subscription.me.image_url %>" target="_blank"><img alt="Image" src="<%= subscription.me.image_url %>"/></a>
                <% end %>
                 <% if subscription.me.section1.value != "" %>
                <p><i><%= subscription.me.section1.section.name %>:</i>
                <%= subscription.me.section1.value %></p>        
                <% end %>
                
                <% if subscription.me.section2.value != "" %>
                <p><i><%= subscription.me.section2.section.name %>:</i>
                <%= subscription.me.section2.value %></p>        
                <% end %>
                
                <% if subscription.me.section3.value != "" %>
                <p><i><%= subscription.me.section3.section.name %>:</i>
                <%= subscription.me.section3.value %></p>        
                <% end %>
                
               <% if subscription.me.section4.value != "" %>
                <p><i><%= subscription.me.section4.section.name %>:</i>
                <%= subscription.me.section4.value %></p>        
                <% end %>
                
                <% if subscription.me.section5.value != "" %>
                <p><i>Soapbox:</i>
                <%= subscription.me.section5.value %></p>        
                <% end %>
                <% if subscription.me.image_url != "" %><div class="meSpacer"></div><% end %>
                </div>
            </div>
        <% end %>
    <% end %>
<% end %>
</div>
<%= sortable_element('leftcontent', :tag=>'div', :handle=>'meTitle', :dropOnEmpty=>true, :constraint=>false,
                     :containment=>["centercontent", "leftcontent", "rightcontent"],
                     :url=>{:action=>'update_position'}) %>
<%= sortable_element('centercontent', :tag=>'div', :handle=>'meTitle', :dropOnEmpty=>true, :constraint=>false,
                     :containment=>["centercontent", "leftcontent", "rightcontent"],
                     :url=>{:action=>'update_position'}) %>
<%= sortable_element('rightcontent', :tag=>'div', :handle=>'meTitle', :dropOnEmpty=>true, :constraint=>false,
                     :containment=>["centercontent", "leftcontent", "rightcontent"],
                     :url=>{:action=>'update_position'}) %>
<% if @subscriptions_col1[0].nil? and  @subscriptions_col2[0].nil? and  @subscriptions_col3[0].nil? %>
<p>You got nothin.</p>
<% end %>

