<!-- start left box-->
<div id="leftcontent">
    <div class="dropArea" id="<%= "drop_0" %>"></div>
    <%= drop_receiving_element "drop_0", 
                :update => "wholecontent",
                :url => {:action => "sort_my_me", :column => 0},
                :accept => "me", :hoverclass => "dropAreaActive"
                %>
<% for subscription in @subscriptions_col1 %>
    <% for i in 0..subscription.pos_y %>
        <% if i == subscription.pos_y %>
            <div class="me" id="<%= subscription.id %>" >
                <div class="meTitle"><h1><%= subscription.me.title %></h1></div>
                <% if subscription.me.image_url != "" %>
                    <a href="<%= subscription.me.image_url %>" target="_blank"><img alt="Image" src="<%= subscription.me.image_url %>" /></a>
                <% end %>
                <% if subscription.me.section1.value != "" %>
                <p><i><%= subscription.me.section1.section.name %>:</i>
                <%= subscription.me.section1.value %></p>        
                <% end %>
                
                <% if subscription.me.section2.value != "" %>
                <p><i><%= subscription.me.section2.section.name %>:</i>
                <%= subscription.me.section2.value %></p>        
                <% end %>
                
                <% if subscription.me.section3.value != "" %>
                <p><i><%= subscription.me.section3.section.name %>:</i>
                <%= subscription.me.section3.value %></p>        
                <% end %>
                
               <% if subscription.me.section4.value != "" %>
                <p><i><%= subscription.me.section4.section.name %>:</i>
                <%= subscription.me.section4.value %></p>        
                <% end %>
                
                <% if subscription.me.section5.value != "" %>
                <p><i>Soapbox:</i>
                <%= subscription.me.section5.value %></p>        
                <% end %>
               <% if subscription.me.image_url != "" %><div class="meSpacer"></div><% end %>
            </div>
            <%= draggable_element("#{subscription.id}", :revert => true, :handle => "'meTitle'", :ghosting=>true) %>
        <% end %>
    <% end %>
<% end %>
</div>
<!-- end left box-->

<!-- start content -->
<div id="centercontent">
    <div class="dropArea" id="<%= "drop_1" %>"></div>
    <%= drop_receiving_element "drop_1", 
                :update => "wholecontent",
                :url => {:action => "sort_my_me", :column => 1},
                :accept => "me", :hoverclass => "dropAreaActive"
                %>
<% for subscription in @subscriptions_col2 %>
    <% for i in 0..subscription.pos_y %>
        <% if i == subscription.pos_y %>
            <div class="me" id="<%= subscription.id %>" >
                <div class="meTitle"><h1><%= subscription.me.title %></h1></div>
                <% if subscription.me.image_url != "" %>
                    <a href="<%= subscription.me.image_url %>" target="_blank"><img alt="Image" src="<%= subscription.me.image_url %>" /></a>
                <% end %>
                <% if subscription.me.section1.value != "" %>
                <p><i><%= subscription.me.section1.section.name %>:</i>
                <%= subscription.me.section1.value %></p>        
                <% end %>
                
                <% if subscription.me.section2.value != "" %>
                <p><i><%= subscription.me.section2.section.name %>:</i>
                <%= subscription.me.section2.value %></p>        
                <% end %>
                
                <% if subscription.me.section3.value != "" %>
                <p><i><%= subscription.me.section3.section.name %>:</i>
                <%= subscription.me.section3.value %></p>        
                <% end %>
                
               <% if subscription.me.section4.value != "" %>
                <p><i><%= subscription.me.section4.section.name %>:</i>
                <%= subscription.me.section4.value %></p>        
                <% end %>
                
                <% if subscription.me.section5.value != "" %>
                <p><i>Soapbox:</i>
                <%= subscription.me.section5.value %></p>        
                <% end %>
                <% if subscription.me.image_url != "" %><div class="meSpacer"></div><% end %>
            </div>
            <%= draggable_element "#{subscription.id}", :revert => true, :handle => "'meTitle'", :ghosting=>true %>
            
            
        <% end %>
    <% end %>
<% end %>
</div>


<!-- end content -->

<!-- start right box -->

<div id="rightcontent">
    <div class="dropArea" id="<%= "drop_2" %>"></div>
    <%= drop_receiving_element "drop_2", 
                :update => "wholecontent",
                :url => {:action => "sort_my_me", :column => 2},
                :accept => "me", :hoverclass => "dropAreaActive"
                %>
<% for subscription in @subscriptions_col3 %>
    <% for i in 0..subscription.pos_y %>
        <% if i == subscription.pos_y %>
            <div class="me" id="<%= subscription.id %>" <% if subscription.me.image_url != "" %>style="min-height:200px;"<% end %>>
                <div class="meTitle"><h1><%= subscription.me.title %></h1></div>
                <% if subscription.me.image_url != "" %>
                    <a href="<%= subscription.me.image_url %>" target="_blank"><img alt="Image" src="<%= subscription.me.image_url %>"/></a>
                <% end %>
                 <% if subscription.me.section1.value != "" %>
                <p><i><%= subscription.me.section1.section.name %>:</i>
                <%= subscription.me.section1.value %></p>        
                <% end %>
                
                <% if subscription.me.section2.value != "" %>
                <p><i><%= subscription.me.section2.section.name %>:</i>
                <%= subscription.me.section2.value %></p>        
                <% end %>
                
                <% if subscription.me.section3.value != "" %>
                <p><i><%= subscription.me.section3.section.name %>:</i>
                <%= subscription.me.section3.value %></p>        
                <% end %>
                
               <% if subscription.me.section4.value != "" %>
                <p><i><%= subscription.me.section4.section.name %>:</i>
                <%= subscription.me.section4.value %></p>        
                <% end %>
                
                <% if subscription.me.section5.value != "" %>
                <p><i>Soapbox:</i>
                <%= subscription.me.section5.value %></p>        
                <% end %>
                <% if subscription.me.image_url != "" %><div class="meSpacer"></div><% end %>
            </div>
            <%= draggable_element "#{subscription.id}", :revert => true, :handle => "'meTitle'", :ghosting=>true %>
        <% end %>
    <% end %>
<% end %>
</div>

<% if @subscriptions_col1[0].nil? and  @subscriptions_col2[0].nil? and  @subscriptions_col3[0].nil? %>
<p>You got nothin.</p>
<% end %>
