<!-- start left box--><%= drop_receiving_element "wholecontent", 
                :update => "wholecontent", :url => { :action => "sort_my_me" },
                :hoverclass => "dropAreaActive"
                %>
<div id="leftcontent">
    
<% for subscription in @subscriptions_col1 %>
    <% for i in 0..subscription.pos_y %>
        <% if i == subscription.pos_y %>
            <div class="dropArea" id="<%= "drop_0-#{subscription.pos_y}" %>"></div>
            <div class="me" id="<%= subscription.id %>" <% if subscription.me.image_url != "" %>style="min-height:200px;"<% end %>>
                <h1><%= subscription.me.title %></h1>
                <% if subscription.me.image_url != "" %>
                    <img alt="me" src="<%= subscription.me.image_url %>" />
                <% end %>
                <% if subscription.me.section1.value != "" %>
                <p><i><%= subscription.me.section1.section.name %>:</i>
                <%= subscription.me.section1.value %></p>        
                <% end %>
                
                <% if subscription.me.section2.value != "" %>
                <p><i><%= subscription.me.section2.section.name %>:</i>
                <%= subscription.me.section2.value %></p>        
                <% end %>
                
                <% if subscription.me.section3.value != "" %>
                <p><i><%= subscription.me.section3.section.name %>:</i>
                <%= subscription.me.section3.value %></p>        
                <% end %>
                
               <% if subscription.me.section4.value != "" %>
                <p><i><%= subscription.me.section4.section.name %>:</i>
                <%= subscription.me.section4.value %></p>        
                <% end %>
                
                <% if subscription.me.section5.value != "" %>
                <p><i>Soapbox:</i>
                <%= subscription.me.section5.value %></p>        
                <% end %>
            </div>
            <%= draggable_element("#{subscription.id}", :revert => true) %>
            
        <% end %>
    <% end %>
<% end %>
</div>
<!-- end left box-->

<!-- start content -->
<div id="centercontent">
<% for subscription in @subscriptions_col2 %>
    <% for i in 0..subscription.pos_y %>
        <% if i == subscription.pos_y %>
            <div class="dropArea" id="<%= "drop_1-#{subscription.pos_y}" %>"></div>
            <div class="me" id="<%= subscription.id %>"  <% if subscription.me.image_url != "" %>style="min-height:200px;"<% end %>>
                <h1><%= subscription.me.title %></h1>
                <% if subscription.me.image_url != "" %>
                    <img alt="me" src="<%= subscription.me.image_url %>" />
                <% end %>
                <% if subscription.me.section1.value != "" %>
                <p><i><%= subscription.me.section1.section.name %>:</i>
                <%= subscription.me.section1.value %></p>        
                <% end %>
                
                <% if subscription.me.section2.value != "" %>
                <p><i><%= subscription.me.section2.section.name %>:</i>
                <%= subscription.me.section2.value %></p>        
                <% end %>
                
                <% if subscription.me.section3.value != "" %>
                <p><i><%= subscription.me.section3.section.name %>:</i>
                <%= subscription.me.section3.value %></p>        
                <% end %>
                
               <% if subscription.me.section4.value != "" %>
                <p><i><%= subscription.me.section4.section.name %>:</i>
                <%= subscription.me.section4.value %></p>        
                <% end %>
                
                <% if subscription.me.section5.value != "" %>
                <p><i>Soapbox:</i>
                <%= subscription.me.section5.value %></p>        
                <% end %>
                
            </div>
            <%= draggable_element "#{subscription.id}", :revert => true %>
            
            <%= drop_receiving_element "drop_1-#{subscription.pos_y}", 
                :update => "subscription", :url => { :action => "add" },
                :accept => "subscriptions", :hoverclass => "dropAreaActive"
                %>
        <% end %>
    <% end %>
<% end %>
</div>


<!-- end content -->

<!-- start right box -->

<div id="rightcontent">
<% for subscription in @subscriptions_col3 %>
    <% for i in 0..subscription.pos_y %>
        <% if i == subscription.pos_y %>
            <div class="dropArea" id="<%= "drop_2-#{subscription.pos_y}" %>"></div>
            <div class="me" id="<%= subscription.id %>" <% if subscription.me.image_url != "" %>style="min-height:200px;"<% end %>>
                <h1><%= subscription.me.title %></h1>
                <% if subscription.me.image_url != "" %>
                    <a href="<%= subscription.me.image_url %>" target="_blank"><img alt="me" src="<%= subscription.me.image_url %>"/></a>
                <% end %>
                 <% if subscription.me.section1.value != "" %>
                <p><i><%= subscription.me.section1.section.name %>:</i>
                <%= subscription.me.section1.value %></p>        
                <% end %>
                
                <% if subscription.me.section2.value != "" %>
                <p><i><%= subscription.me.section2.section.name %>:</i>
                <%= subscription.me.section2.value %></p>        
                <% end %>
                
                <% if subscription.me.section3.value != "" %>
                <p><i><%= subscription.me.section3.section.name %>:</i>
                <%= subscription.me.section3.value %></p>        
                <% end %>
                
               <% if subscription.me.section4.value != "" %>
                <p><i><%= subscription.me.section4.section.name %>:</i>
                <%= subscription.me.section4.value %></p>        
                <% end %>
                
                <% if subscription.me.section5.value != "" %>
                <p><i>Soapbox:</i>
                <%= subscription.me.section5.value %></p>        
                <% end %>
            </div>
            <%= draggable_element "#{subscription.id}", :revert => true %>
            
            <%= drop_receiving_element "drop_2-#{subscription.pos_y}", 
                :update => "leftcontent", :url => { :action => "_col1", :id => "2_2_#{subscription.id}"},
                :accept => "me", :hoverclass => "dropAreaActive"
                %>
        <% end %>
    <% end %>
<% end %>
</div>
