	<script type="text/javascript">
		$(document).ready(function() {
			$('#comment_submit_<%=subscription.id%>').click(function(){
				$.ajax({
								 type: "POST",
								 url: "/comments/create/<%=subscription.id%>",
								 data: "comment_text_<%=subscription.id%>=" + $('#comment_text_<%=subscription.id%>').val(),
								 success: function(e) { eval(e); }
							 });
			});
		});
	</script>
  <a id="comments_link_<%=subscription.id%>" href="javascript:$('#comments_<%=subscription.id%>').toggle(); void(0)">Comments (<%= subscription.me.comments.count %>)</a>
  <div id="comments_<%=subscription.id%>" style="display:none; margin-left:10px;">
    <div id="comments_list_<%=subscription.id%>">
        <%= render :partial => 'comments/comment_list', :locals => { :comments => subscription.me.comments } %>
    </div>
    <div id="comment_add_<%=subscription.id%>">
      <div>
		    <textarea id="comment_text_<%=subscription.id%>" name="comment_text_<%=subscription.id%>" rows="3" cols="30"></textarea>
		    <input src="/images/plus.png" type="image" id="comment_submit_<%=subscription.id%>" />
		  </div>
    </div>
    <div id="comment_error_<%=subscription.id%>">
    	<%= error_message %>
    </div>
  </div>
