<h1>Editing subscription</h1>

<%= error_messages_for :subscription %>

<% form_for(@subscription) do |f| %>
  <p>
    <b>User</b><br />
    <%= f.text_field :user_id %>
  </p>

  <p>
    <b>Subscription token</b><br />
    <%= f.text_field :subscription_token %>
  </p>

  <p>
    <b>Pos x</b><br />
    <%= f.text_field :pos_x %>
  </p>

  <p>
    <b>Pos y</b><br />
    <%= f.text_field :pos_y %>
  </p>

  <p>
    <b>Collapsed</b><br />
    <%= f.check_box :collapsed %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @subscription %> |
<%= link_to 'Back', subscriptions_path %>
