<%content_for :menu do%>
	<%=render :partial => 'shared/menu'%>
<%end%>

  <%= javascript_include_tag 'portal' %>
<div id="wholecontent">
<!-- start left box-->
<div id="leftcontent">
<% for subscription in @subscriptions_col1 %>
    <%= render :partial => 'subscription', :locals => { :subscription => subscription, :prefix => 'leftcontent' } %>
<% end %>
</div>
<!-- end left box-->

<!-- start content -->
<div id="centercontent">
<% for subscription in @subscriptions_col2 %>
    <%= render :partial => 'subscription', :locals => { :subscription => subscription, :prefix => 'centercontent' } %>
<% end %>
</div>
<!-- end content -->

<!-- start right box -->
<div id="rightcontent">
<% for subscription in @subscriptions_col3 %>
    <%= render :partial => 'subscription', :locals => { :subscription => subscription, :prefix => 'rightcontent' } %>
<% end %>
</div>
<%= sortable_element('leftcontent', :tag=>'div', :handle=>'meTitle', :dropOnEmpty=>true, :constraint=>false,
                     :containment=>["centercontent", "leftcontent", "rightcontent"],
                     :url=>{:action=>'update_position'}) %>
<%= sortable_element('centercontent', :tag=>'div', :handle=>'meTitle', :dropOnEmpty=>true, :constraint=>false,
                     :containment=>["centercontent", "leftcontent", "rightcontent"],
                     :url=>{:action=>'update_position'}) %>
<%= sortable_element('rightcontent', :tag=>'div', :handle=>'meTitle', :dropOnEmpty=>true, :constraint=>false,
                     :containment=>["centercontent", "leftcontent", "rightcontent"],
                     :url=>{:action=>'update_position'}) %>
<% if @subscriptions_col1[0].nil? and  @subscriptions_col2[0].nil? and  @subscriptions_col3[0].nil? %>
<p>You got nothin.</p>
<% end %>


</div>

<%content_for :widgets do%>
	<%=render :partial => 'shared/widgets'%>
<%end%>

