<%content_for :head do%>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "interface" %>
<%end%>

<%content_for :menu do%>
	<%=render :partial => 'shared/menu'%>
<%end%>

<div id="wholecontent">



<!-- start left box-->
<div id="leftcontent" class="groupWrapper">
<% for subscription in @subscriptions_col1 %>
    <%= render :partial => 'subscription', :locals => { :subscription => subscription, :prefix => 'leftcontent' } %>
<% end %>
</div>
<!-- end left box-->

<!-- start content -->
<div id="centercontent" class="groupWrapper">
<% for subscription in @subscriptions_col2 %>
    <%= render :partial => 'subscription', :locals => { :subscription => subscription, :prefix => 'centercontent' } %>
<% end %>
</div>
<!-- end content -->

<!-- start right box -->
<div id="rightcontent" class="groupWrapper">
<% for subscription in @subscriptions_col3 %>
    <%= render :partial => 'subscription', :locals => { :subscription => subscription, :prefix => 'rightcontent' } %>
<% end %>
</div>


<% if @subscriptions_col1[0].nil? and  @subscriptions_col2[0].nil? and  @subscriptions_col3[0].nil? %>
<p>You got nothin.</p>
<% end %>

<script type="text/javascript">
$(document).ready(
	function () {
		
		$('div.groupWrapper').Sortable(
			{
				accept: 'me',
				helperclass: 'sortHelper',
				activeclass : 	'sortableactive',
				hoverclass : 	'sortablehover',
				handle: 'div.meTitle',
				tolerance: 'pointer',
				onChange : function(ser)
				{
				
					for(var i = 0; i < ser.length; i++)
					{
								$.ajax({
												 type: "POST",
												 url: "/subscriptions/update_position",
												 data: ser[i].hash
											 });
					}
				},
				onStart : function()
				{
					$.iAutoscroller.start(this, document.getElementsByTagName('body'));
				},
				onStop : function()
				{
					$.iAutoscroller.stop();
				}
			}
		);
	}
);

function serialize(s)
{
	serial = $.SortSerialize(s);
	return serial;
};
</script>



</div>
<%content_for :widgets do%>
	<%=render :partial => 'shared/widgets'%>
<%end%>
