<!-- start left box-->

<div id="leftcontent">
<% for subscription in @subscriptions_col1 %>
    <% for i in 0..subscription.pos_y %>
        <% if i == subscription.pos_y %>
            <div class="me">
                <h1><%= subscription.me.title %></h1>
                <% for me_section in subscription.me.me_sections %>
                <h2><%= me_section.section.name %></h2>
                <p><%= me_section.value %></p>        
                <% end %>
            </div>
        <% end %>
    <% end %>
<% end %>
</div>

<!-- end left box-->

<!-- start content -->

<div id="centercontent">
<% for subscription in @subscriptions_col2 %>
    <% for i in 0..subscription.pos_y %>
        <% if i == subscription.pos_y %>
            <div class="me">
                <h1><%= subscription.me.title %></h1>
                <% for me_section in subscription.me.me_sections %>
                <h2><%= me_section.section.name %></h2>
                <p><%= me_section.value %></p>        
                <% end %>
            </div>
        <% end %>
    <% end %>
<% end %>
</div>


<!-- end content -->

<!-- start right box -->

<div id="rightcontent">
<% for subscription in @subscriptions_col3 %>
    <% for i in 0..subscription.pos_y %>
        <% if i == subscription.pos_y %>
            <div class="me">
                <h1><%= subscription.me.title %></h1>
                <% for me_section in subscription.me.me_sections %>
                <h2><%= me_section.section.name %></h2>
                <p><%= me_section.value %></p>        
                <% end %>
            </div>
        <% end %>
    <% end %>
<% end %>
</div>