<h1>New subscription</h1>

<%= error_messages_for :subscription %>

<% form_for(@subscription) do |f| %>
  <div>
    Is Auth Valid? <%= @is_valid %>
  </div>
  <div>
    <%= hidden_field_tag 'subscription[user_id]', session['user_id'] %>
    <%= hidden_field_tag 'subscription[subscription_token]', @me.subscribe_token %>
    <%= hidden_field_tag 'auth', params[:auth] %>
    <%= f.submit "Create" %>
  </div>
<% end %>

<%= link_to 'Back', subscriptions_path %>
