<h1>New subscription</h1>

<%= error_messages_for :subscription %>

<% form_for(@subscription) do |f| %>
  <div>
    <% if @is_valid %>
    <div>Are you sure you want to subscribe to this Me?: <%= f.submit "Yes" %></div>
    <div id="leftcontent">
       <div class="me"><%= render :partial => 'mes/me', :locals => { :subscription => @subscription, :show_only => true } %> </div>
    </div>
    <% else %>
    <div>You are not allowed to subscribe to this me</div>
    <% end %>
  </div>

    <%= hidden_field_tag 'subscription[user_id]', session['user_id'] %>
    <%= hidden_field_tag 'subscription[subscription_token]', @me.subscribe_token %>
    <%= hidden_field_tag 'auth', params[:auth] %>
<% end %>

<div style="clear:both;"><%= link_to 'Back', subscriptions_path %></div>
