<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="Pragma" content="no-cache" />
  <title>Mes: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'stylesheet' %>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="<%=formatted_subscriptions_path(:format => 'rss')%>" />
  <%= yield :head %>  
</head>
<body>
<div id="blogtitle">
		<div id="small"><%= link_to 'My Daily Me', subscriptions_path %></div>
<%= yield :menu %>
</div>
			
<div id="main"> 
<div id="notice"><%= flash[:notice] %><div id="error"><%= flash[:error] %></div></div>

<%= yield :layout  %>
</div>

<%= yield :widgets %>


</body>
</html>
