<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Mes: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'stylesheet' %>
</head>
<body>
<div id="blogtitle">
		<div id="small"><%= link_to 'Project Me', subscriptions_path %> you suck at this game ::</div>
		<div id="small2">  <%= link_to 'View', subscriptions_path %>  |  <%= link_to 'New Me', new_me_path %>  |  <%= link_to 'Edit', mes_path %>  |  <% if session['user_id'].nil? %><%= link_to 'Login', new_session_path %><% else %><%= link_to 'Logout', {:controller=>"sessions", :action=>"destroy"}, :method => :delete %><% end %></div>
</div>
			
<div id="main"> 
<div id="notice"><%= flash[:notice] %></div>
<div id="error"><%= flash[:error] %></div>
<%= yield  %>
</div>
</body>
</html>
